# Copia este archivo a .env y rellena los valores reales
# NUNCA commitees el archivo .env

DB_HOST=localhost
DB_PORT=5432
DB_NAME=wraphouse
DB_USERNAME=tu_usuario
DB_PASSWORD=tu_password

PORT=8860
CORS_ORIGINS=http://localhost:4200
HIBERNATE_DDL=update
